@import 'styles.css';

:root {
    --thumbnailDimension: 200px;

    --colourBgCategory: #7F4F24;
}

article {
    display: flex;
    flex-flow: column nowrap;
    gap: 0.5rem;
    align-items: center;

    img {
        width: var(--thumbnailDimension);
        height: var(--thumbnailDimension);
    }

    .recipe-attribute {
        padding: 0 1rem;
        border-radius: 1rem;
        color: var(--colourBgComplementary);

        &.recipe-area {
            background-color: var(--colourBgNav);
        }
        &.recipe-category {
            background-color: var(--colourBgCategory);
        }
    }
}